<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<form [formGroup]="sampleFormGroup">
  <p>
    <mat-form-field  appearance="legacy">
      <mat-label>Task</mat-label>
      <input matInput formControlName="taskNumber" />
      <mat-icon fontSet="material-icons" matSuffix>search</mat-icon>
      <mat-error *ngIf="sampleFormGroup.controls.taskNumber.hasError('required')"></mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>WO</mat-label>
      <input matInput formControlName="wo" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>WCM</mat-label>
      <input matInput formControlName="wc" />
    </mat-form-field>
  </p>
</form>
